input{
    border: none;
    padding: 10px;
    background-color:#759eda;
    color: white;
    font-size: 15px;
    outline: none;
    margin-right: 20px;
    border-bottom: 2px solid #5473c0f5;
}
input::placeholder{
    color: white;
}